* {
    margin: 0;
    padding:0;
    outline: none;
    font-family: 'Bebas Neue', cursive;
    color: white;

  }
  
  html {
    font-size: 62.5%;
  }


/* start of main page */
.mainpage-nav {
    display: flex;
    justify-content: space-between;
    height: 6rem;
    padding-bottom: 3rem;
    padding-top: 1rem;
}

.socials {
    display: flex;
    justify-content: space-around;
    width: 25%;
    list-style: none;
}

.socials li {
    height: 100%;
    width: 5rem;
    transition: 0.3s;
}

.socials li:hover {
    cursor: pointer;
    width: 5.5rem;
}

.socials img {
    width: 100%;
    height: 100%;
}

.navigation-links {
    display: flex;
    justify-content: space-around;
    list-style: none;
    width: 50%;
}

.navigation-links li {
    font-size: 3rem;
    padding-top: 1.5rem;
}

.navigation-links a:before {
    content: "";
    position: absolute;
    top: 40px;
    width: 100%;
    height: 5px;
    bottom: 0;
    left: 0;
    background-color: red;
    visibility: hidden;
    transform: scaleX(0);
    transition: all 0.3s ease-in-out;
}

.navigation-links li:hover > a:before {
    visibility: visible;
    transform: scaleX(1);
  }

  .current a:before {
    visibility: visible;
    transform: scaleX(1.2);
  }
  
  .current a {
    color: red;
  }

.navigation-links a {
    text-decoration: none;
    position: relative;
}

.navigation-links li:hover > a{
    color: black;
}

.landing-portion {
    position: absolute;
    top: 0%;
    left: 0%;
    width: 100%;
}

.background-container {
    background-image: url("integrallc.PNG");
    height: 90rem;
    background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  /* filter: blur(2px); */
}

.background-container2 {
    background-image: url("building.PNG");
    height: 90rem;
    background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  /* filter: blur(2px); */
}

.landing-third {
    position: absolute;
    top: 250%;
    left: 0%;
    width: 100%;
}

.landing-info {
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
    height: 75vh;
}

.landing-info h1 {
    font-size: 5.5rem;
    margin: 2rem 0;
}

.logo-wrapper {
    height: 400px;
}

.landing-info img {
    width: 25%;
    height: 100%;
}

.landing-links {
    display: flex;
    justify-content: center;
    list-style: none;
    height: 7rem;
    margin-top: 4rem;
    margin-bottom: 4rem;
    column-gap: 10rem;
}

.landing-links a {
    font-size: 4rem;
    padding: 1rem 10rem;
    border: 0.1rem solid white;
    text-decoration: none;
    transition: 0.3s ease-in-out;
}

.landing-links a:hover {
    border-color: red;
    border-width: 3px;
    color: red;
}

.landing-info h2 {
    font-size: 4.2rem;
    text-decoration: underline;
}

.landing-second {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    padding-top: 6rem;
    padding-bottom: 10rem;
}

.landing-second h1 {
    font-size: 10rem;
    text-decoration: underline;
    color: black;
}

.business-pic {
    width: 600px;
}

.business-pic img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.business-info {
    margin-left: 4rem;
}

.safety-pic {
    width: 600px;
}

.safety-pic img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    margin-left: 4rem;
}

.safety-standards {
    display: flex;
    justify-content: center;
    padding-top: 15rem;
}

.business-standards {
    display: flex;
    justify-content: center;
    padding-top: 15rem;
}

.why-integra h2 {
    font-size: 5rem;
    margin-bottom: 2rem;
    color: black;
}

.why-integra li {
    color: black;
    font-family: 'Roboto', sans-serif;
    padding-bottom: 2rem;
}

.safety-bullets {
    font-size: 3rem;
    list-style: none;
}

.business-bullets {
    font-size: 3rem;
    list-style: none;
}

.landing-third {
    display: flex;
    justify-content: space-around;
    text-align: center;
    padding-bottom: 10rem;
}

.landing-third h2{
    font-size: 5rem;
}

.map-img-wrapper {
    width: 650px;
}

.map-img-wrapper img{
    width: 100%;
    height: 100%;
}

.contact-wrapper {
    width: 650px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.contact-wrapper h2 {
    font-size: 3.8rem;
}

.contact-wrapper form{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr 3fr 1fr;
    flex-wrap: wrap;
    height: 100%;
    justify-content: center;
}

.contact-wrapper form div {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.contact-wrapper form input {
    width: 90%;
    height: 4rem;
    font-size: 2rem;
    padding-left: 1rem;
}

.msg {
    grid-row: 3 / 4;
    grid-column: 1 / -1;
    width: 98%;
}

.msg textarea {
    height: 200px;
    font-size: 2rem;
    padding: 1rem 0 0 1rem;
}

.button-wrapper {
    grid-column: 1 / -1;
    height: 5rem;
}

.button-wrapper button {
    width: 100%;
    height: 100%;
    color: black;
    font-size: 3rem;
    background-color: white;
}

.footer {
    background-color: black;
    color: white;
    font-size: 2rem;
    text-align: center;
    height: 3rem;
  }

/* end of main page */

/* animmations */
.hidden {
    opacity: 0;
  }
  
  @keyframes fade-in {
    from {
      opacity: 0;
      transform: scale(0.7, 0.7);
    }
    to {
      opacity: 1;
    }
  }
  .fade-in-element {
    animation: fade-in 1.4s;
  }
/* EO animations */